/* dùng biến cục bộ để dễ dàng thay đổi các thuộc tính chung sd lại nhiều */
:root{
    --white-color:#fff;
    --text-color:#333;
    --black-color:#000;
    --primary-color:#EE4D2D;
    --border-color:#bdbdbd;
    --star-gold-color:#ffce3d;
    --header-height:120px;
    --header-sort-height: 46px;
    --header-navbar-height:34px;
    --header-with-search-height: calc(var(--header-height) - var(--header-navbar-height));
}

/* resset lại css vì mặc định một số thẻ sẽ có các thuộc tính margin, padding... trên 1 số trình duyệt */

*{
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
}

/* hiển thị mờ đến đậm */
@keyframes Fad_in{
    from {
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}
/* hiển thì đậm dần lên và chuyển từ vì trí ẩn đến vị trí cần */
@keyframes mobile__search-Fadin{
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* hiển thị lớn lên dần */
@keyframes Growth{
    from{
            opacity: 0;
            transform: scale(0);
    }
    to{
            transform: scale(1);
            opacity: 1;

    }
}
.modal{
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: flex;
}
.modal__overlay{
    position: absolute;
    background-color:rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    
}
.modal__body{
    margin: auto;
    position: relative;
    z-index: 1;
    animation: Growth linear .1s;
}

.btn{
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0px 12px;
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.08);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* vô hiệu hóa nút btn */
.btn.btn--disabled{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

/* selection */
/* SELECTION */
.select-input{
    position: relative;
    background-color: var(--white-color);
    min-width: 200px;
    height: 34px;
    padding: 0px 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.select-input__lable{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
}
.select-input:hover .select-input-list{
    display: block;
}
.select-input-list{
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    border-radius: 2px;
    display: none;
}
.select-input-list::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: -3px;
    left: 0;

}
.select-input-item{
    
}
.select-input-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 0px;
    width: 100%;
    font-weight: 300;

}
.select-input-link:hover{
    color: var(--primary-color);
    background-color: #FAFAFA;

}

.background-icon{
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/b8b421a5073979352a01b5dafb628d0e.png);
}
/* https://f8ubuntu.online/ */