
.header{
    height: 120px;
    background-image:linear-gradient(0,#f05b2f,#e93e2b);
}
.header__navbar{
    display: flex;
    justify-content:space-between;

}
.header__navbar-list{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 4px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    padding: 4px 0px;
}
.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
 .header__navbar-item,
 .header__navbar-item-link,
 .header__navbar-icon-link{
    display: inline-flex;
    justify-items: center;

 }
.header__navbar-item:hover,
 .header__navbar-item-link:hover,
 .header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: '';
    display: block;
    position: absolute;
    border-left:1px solid #FB9086;
    height: 14px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    margin: 0px 4px;
    font-size: 1.8rem;
}
.header__navbar-title--no-pointer{
    color: var(--white-color);
    cursor: text;
}
/* Header qr code */
.header__qr{
background-color: var(--white-color);
width: 186px;
position:absolute;
top: 118%;
left: 0;
padding: 8px;
border-radius: 2px;
display: none;
animation: Fad_in ease-in 0.4s;
}

.header__qr::before{
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
    height: 20px;

}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content:space-between;
}
.header__qr-download-img{
    height: 16px;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;

}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

/* Thông báo hiện ra*/
.header__notify{
    background-color: var(--white-color);
    width: 404px;
    position: absolute;
    top: 118%;
    right: 0;
    border: 1px solid #d3d3d3;
}
.header__notify-header{
   background-color: var(--white-color);
   height: 40px;
}

.header__notify-header h3{
    color: #999;
    font-weight: 300;
    font-size: 1.3 rem;
    margin:0 0 0 12px;
    line-height: 40px;
}

.header__notify-list{
padding-left: 0px;
}
.header__notify-item{

}
.header__notify-link{
display: flex;
padding: 12px;
text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 14px;
    color: var(--black-color);
    padding-bottom: 5px;
}
.header__notify-description{
    display: block;
    font-size: 12px;
    color: #756f6e;

}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75 , 43 , 0.08);
}

.header__notify-footer{
text-align: center;
}
.header__notify-footer--btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;
    display: inline-block;
    
}


@keyframes Fad_in{
    from {
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}


